<%= form_with(scope: :localtion, url: member_localtions_path ) do |f| %>
  <% if localtion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(localtion.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% localtion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address_1 %>
    <%= f.text_field :address_1, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address_2 %>
    <%= f.text_field :address_2, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :region %>
    <%= f.text_field :region, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.country_select :country, {priority: %w(US CA), prompt: 'Please select a country'} %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Create Location" %>
  </div>
<% end %>

