<!DOCTYPE html>
<html>
  <head>
    <title>DeviseSkeleton</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if member_signed_in? %>
      <%= render "shared/logged_out_header" %>
    <% else %>
      <%= render "shared/logged_in_header" %>
    <% end %>

    <% unless notice.blank? %>
      <%= notice %>
    <% end %>
    <% unless alert.blank? %>
      <%= alert %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
